* {
  margin: 0px;
  padding: 0px;
}
.category-bar {
  background-color: rgb(190, 188, 188);
  padding: 25px;
}
#search-box {
  /* padding: 20px 30px;
  width: 50%; */
  margin: 20px 0px 20px 20px;
}

#search-btn:hover {
  background-color: blue;
  color: white;
}
.search-container {
  text-align: center;
}
#category-bar-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.category-btn {
  padding: 10px 20px;
}

.loading-spiner img {
  width: 25%;
  margin: auto;
}
.loading-spiner {
  text-align: center;
  padding: 50px;
  display: none;
}
